@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

.logo-image {
  width: 40px;
  border-radius: 100%;
}

#silhouette {
  -webkit-filter: grayscale(100%) brightness(0);
  filter: grayscale(100%) brightness(0);

  margin: 32px auto;
  width: 14rem;
}

#font_galmuri {
  font-family: "Galmuri9";
}
